<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sadare.like.likeMapper">

	<resultMap type="com.project.sadare.like.like" id="like">
		<result column="like_num" property="like_num" />
		<result column="user_id" property="user_id" />
		<result column="product_num" property="product_num" />
	</resultMap>
	
	<resultMap type="com.project.sadare.product.Product" id="product">
		<result property="product_num" column="product_num" />
		<result property="product_name" column="product_name" />
		<result property="product_price" column="product_price" />
		<result property="product_info" column="product_info" />
		<result property="category1_num" column="category1_num" />
		<result property="category2_num" column="category2_num" />
		<result property="category3_num" column="category3_num" />
		<result property="user_id" column="user_id" />
		<result property="product_add_date" column="product_add_date" />
		<result property="product_hit" column="product_hit" />
		<result property="product_result" column="product_result" />
	</resultMap>
	
	<insert id="insertLike" parameterType="com.project.sadare.like.like">
		insert into sadare_like values(#{like_num}, #{product_num}, #{user_id})
	</insert>
	
	<select id="selectById" parameterType="String" resultMap="like">
		select * from sadare_like where user_id=#{user_id} order by like_num	
	</select>
	
	<select id="selectByPetId" resultMap="like">
		select * from sadare_like where product_num=#{product_num} order by like_num 		
	</select>
	
	
	<select id="selectByIdProductNum" resultMap="like">
		select * from sadare_like where user_id=#{user_id} and product_num=#{product_num} order by like_num
	</select>
	
	<delete id="deleteLike">
		delete from sadare_like where like_num=#{like_num}
	</delete>
	
	<delete id="deleteLikeByPetId">
		delete from sadare_like where user_id=#{user_id} and product_num=#{product_num}
	</delete>
	
	<delete id="deleteAllLike" parameterType="String">
		delete from sadare_like where user_id=#{user_id}
	</delete>
	
	<!-- delete id="deleteProductAndlike" 제품 삭제 시 찜 목록까지 삭제가 필요? -->
	
	<select id="getNum" resultType="int">
		select seq_sadare_like.nextval from dual
	</select>
	
</mapper>